@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-gradient-to-b from-black to-slate-900;
}

* {
  color: #ffffff;
}

.content-container h2, .content-container ul, .content-container p {
  @apply mb-3;
}

.content-container ul li {
  @apply mb-0.5
}

.content-container h2 {
  @apply font-bold text-white text-2xl;
}

@layer components {
  .cocktail-list {
    @apply flex flex-col py-8;
  }

  .content-container {
    @apply w-full max-w-2xl overflow-hidden mx-auto mt-4;
  }
}